<footer class="dark-bg">
  <div class="container inner">
    <div class="row">

      <div class="col-md-3 col-sm-6 inner">
        <h4>Más información</h4>
        <p>Centro de servicios:</p>
        <p><i class="fas fa-envelope contact"></i><span> centrodeservicios@ssf.gov.co</span></p>
        <p>@Copyright 2018</p>
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6 inner">
        <h4>Contacto</h4>
        <span>Línea de atención al ciudadano.</span>
        <ul class="contacts">
          <li><i class="fas fa-mobile-alt contact"></i> +57 (1) 348 77 77</li>
        </ul><!-- /.contacts -->
        <span>Línea gratuita nacional.</span>
        <ul class="contacts">
          <li><i class="fas fa-mobile-alt contact"></i> 018000910110</li>
          <li><i class="fas fa-mobile-alt contact"></i> PBX: +57 (1) 348 78 00</li>
          <li><i class="fas fa-mobile-alt contact"></i> FAX: +57 (1) 348 78 04</li>
        </ul><!-- /.contacts -->
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6 inner">
        <h4>Sedes</h4>
        <span>Principal:</span>
        <ul class="contacts">
          <li><i class="fas fa-map-marker-alt contact"></i> Carrera 69 NO. 25B-44, Bogotá, Colombia</li>
        </ul><!-- /.contacts -->
        <span>Atención al ciudadano:</span>
        <ul class="contacts">
          <li><i class="fas fa-map-marker-alt contact"></i> Calle 26 NO. 57-41, Torre 8 Piso 15 y 16, Bogotá, Colombia</li>
        </ul><!-- /.contacts -->
        <span>Horario de atención:</span>
        <ul class="contacts">
          <li><i class="far fa-clock contact"></i> Lunes a Viernes de 7:00AM a 4:00 PM</li>
        </ul><!-- /.contacts -->
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6 inner">
        <div class="row thumbs gap-xs">
          <div class="col-xs-6 col-sm-5 thumb">
            <figure class="icon-overlay icn-link">
              <a><span class="icn-more"></span><img src="./assets/images/iso_9001.png" alt=""></a>
            </figure>
          </div><!-- /.thumb -->
          <div class="col-xs-6 col-sm-5 thumb">
            <figure class="icon-overlay icn-link">
              <a><span class="icn-more"></span><img src="./assets/images/iso_14001.png" alt=""></a>
            </figure>
          </div><!-- /.thumb -->
          <div class="col-xs-6 col-sm-5 thumb">
            <figure class="icon-overlay icn-link">
              <a><span class="icn-more"></span><img src="./assets/images/iq_net.png" alt=""></a>
            </figure>
          </div><!-- /.thumb -->
          <div class="col-xs-6 col-sm-5 thumb">
            <figure class="icon-overlay icn-link">
              <a><span class="icn-more"></span><img src="./assets/images/col_logo.png" alt=""></a>
            </figure>
          </div><!-- /.thumb -->
        </div><!-- /.row -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- .container -->
</footer>
