<br/>
<div class="row" *ngIf="this.authService.data.logged">
  <div class="actions col-sm-12 col-lg-12" *ngIf="this.authService.data.admin">
    <div (click)="addDomain()" class="add-btn">Agregar dominio</div>
    <span class="msg success">{{ successMsg }}</span>
    <span class="msg error">{{ errorMsg }}</span>
    <button (click)="saveData()">
      <i class="far fa-save"></i>
      Guardar
    </button>
  </div>
  <div class="left-bar col-sm-3 col-lg-3">
    <br />
    <ng-container *ngFor="let item of items">
      <div class="domain"
           [ngClass]="{'selected':item.selected==true && domain.currentItem==item.id }"
           (click)="focusElement(item.id)"
      >
        <input  type="text"
                placeholder="Nombre..."
                [(ngModel)]=item.name
                [value]="item.name"
                [disabled]="!this.authService.data.admin"
                >
        <i class="fa fa-trash" (click)="removeItem(item.id)" *ngIf="this.authService.data.admin"></i>
        <i class="fa fa-plus" (click)="addLink(item.id)" *ngIf="this.authService.data.admin"></i>
        <i class="fa fa-eye" (click)="viewLinks(item.id)"></i>
      </div>
    </ng-container>
    <br />
  </div>
  <div class="right-bar col-sm-9 col-lg-9">
    <div *ngFor="let subitem of items | getLinks" class="card" style="width: 18rem;">
      <i (click)="removeSubItem(subitem.id)" class="fa fa-trash" *ngIf="this.authService.data.admin"></i>
      <iframe [src]="subitem.link | linkSanitizer" width="199" height="125"></iframe>
      <div class="card-body">
        <input type="text"
               placeholder="Click aquí para editar"
               [(ngModel)]="subitem.link"
               *ngIf="this.authService.data.admin"
                  />
        <a *ngIf="subitem.link != ''" href="{{subitem.link}}" target="_blank" class="btn btn-small btn-blue">Visitar sitio</a>
      </div>
    </div>
  </div>
</div>
<div class="empty row" *ngIf="!this.authService.data.logged">
  <div>
    <p class="small">
      Lo sentimos, usted no se encuentra autorizado para ver esta página.
    </p>
    <p class="small">
      Por favor contacte al Administrador del sistema o Inicia sesión.
    </p>
    <button class="btn btn-small btn-blue" (click)="navigate('login')">Iniciar sesión</button>
  </div>
</div>
