:host {
  .error {
    color: #D01D13;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .success {
    color: #006DA7;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}
